@forward 'includes';
@use 'includes/functions' as f;

$radius: f.calcRem(8);

body{
    font-size: f.calcRem(16);
    font-family: ubuntu;
    background-color: var(--magnolia);
}

#container{
    padding: 0;
}

aside{
    background: url(../assets/images/bg-sidebar-mobile.svg) center / cover no-repeat;
    height: f.calcEm(172);

    ul{
        display: flex;
        justify-content: space-evenly;
    }

    .step-indicator{
        display: grid;
        place-items: center;
        width: f.calcEm(35);
        height: f.calcEm(35);
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        color: var(--light-gray);
        font-weight: 500;
    
        &.current{
            background-color: var(--light-blue);
            color: var(--marine-blue);
        }
    }
    
    .step-info{display: none;}
}

form{
    .step{
        position: relative;
        height: calc(100vh - f.calcEm(173));
        
        h2{
            font-weight: 700;
            color: var(--marine-blue);
        }
        p{
            font-weight: 500;
            color: var(--cool-gray);
        }
        .step-contents{
            position: absolute;
            top: f.calcEm(-73);
            padding: f.calcEm(25);
            background-color: var(--white);
            border-radius: $radius;
            width: 90%;
            left: 0;
            right: 0;
            margin: auto auto;

            label{
                display: flex;
                justify-content: space-between;
                align-items: center;

                span:nth-child(1){
                    color: var(--marine-blue);
                }
                span:nth-child(2){
                    font-weight: 700;
                    color: var(--strawberry-red);
                    display: none;
                }
            }

            input{
                padding: f.calcRem(8);

                &::placeholder{
                    font-weight: 500;
                    color: var(--cool-gray);
                }

                &:focus,&:hover{border-color: var(--marine-blue);}
            }

            .error{
                label{
                    span:nth-child(2){display: inline-block;}
                }
                input{border-color: var(--strawberry-red);}
            }

            p,small{padding: 0;margin: 0;}

            .plans{
                padding: 0;
                display: flex;
                flex-direction: column;

                .plan{
                    input{
                        display: none;
                        &:checked + label{
                            border-color: var(--marine-blue);
                            background-color: var(--alabaster);
                        }
                    }
                    label{
                        display: flex;
                        margin: f.calcRem(8) 0;
                        padding: f.calcRem(10);
                        border: 1px solid var(--light-gray);
                        border-radius: $radius;

                        &:hover{border-color: var(--marine-blue);}

                        .plan-info{
                            margin: f.calcRem(8);
                            width: 100%;
                            p:nth-child(1),small{
                                font-weight: 500;
                                color: var(--marine-blue);
                            }
                        }
                    }
                }
            }
            .plan-renewal{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: f.calcRem(10);
                background-color: var(--alabaster);
                padding: f.calcRem(8);
                border-radius: $radius;

                .switch{
                    .slider{
                        display: block;
                        position: relative;
                        width: f.calcRem(32);
                        height: f.calcRem(16);
                        border-radius: f.calcRem(16);
                        background: var(--marine-blue);
                        cursor: pointer;

                         &:after {
                            content: '';
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            width: f.calcRem(14);
                            height: f.calcRem(14);
                            background: var(--white);
                            border-radius: f.calcRem(14);
                            transition: 0.3s;
                        }
                    
                        &:active:after {width: f.calcRem(11);}
                    }
                    input{
                        height: 0;
                        width: 0;
                        visibility: hidden;

                        &:checked + .slider:after {
                            left: calc(100% - 1px);
                            transform: translateX(-100%);
                        }
                    }
                }
            }

            .add-ons{
                display: grid;
                gap: f.calcRem(10);

                .add-on{
                    border: 1px solid var(--cool-gray);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: f.calcRem(10);
                    padding: f.calcRem(10);
                    border-radius: $radius;

                    &:hover{border-color: var(--marine-blue);}

                    &.checked{
                        border-color: var(--marine-blue);
                        background-color: var(--alabaster);
                    }

                    p{
                        color: var(--marine-blue);
                        font-weight: 500;  
                    }
                    small{color: var(--cool-gray);}
                    .add-on-desc{
                        font-size: f.calcRem(13);
                    }
                    .price{
                        color: var(--pastel-blue);
                        font-weight: 500;
                        margin-left: auto;
                    }
                }
            }

            .subscriptions{
                background-color: var(--alabaster);
                border-radius: $radius;
                padding: 0;

                #the-plan{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: f.calcRem(20);

                    p,small{
                        color: var(--marine-blue);
                        font-weight: 700;
                    }
                    a{
                        text-decoration-color: var(--cool-gray);
                        small{color: var(--cool-gray);}

                        &:hover{
                            text-decoration-color: var(--purplish-blue);
                            small{color: var(--purplish-blue);}
                        }
                    }
                }

                #the-add-ons{
                    padding: f.calcRem(20);
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        margin-left: auto;
                        margin-right: auto;
                        width: 95%;
                        height: f.calcRem(.5);
                        border: f.calcRem(.5) solid var(--light-gray);
                    }

                    small{
                        display: flex;
                        justify-content: space-between;
                        color: var(--cool-gray);

                        span{
                            color: var(--marine-blue);
                        }
                    }
                }
            }

            #total{
                display: flex;
                justify-content: space-between;
                padding: f.calcRem(20);
                color: var(--cool-gray);

                small:nth-child(2){
                    color: var(--purplish-blue);
                    font-weight: 700;
                    font-size: f.calcRem(16);
                }
            }

            .thank-you{
                display: grid;
                place-items: center;
                gap: f.calcRem(10);
            }
        }
        .button-div{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: f.calcEm(15) 5%;
            background-color: var(--white);

            div{padding: 0;}

            button{
                padding: f.calcRem(10);
                font-weight: 500;

                &.prev-btn{
                    border: none;
                    background-color: transparent;
                    color: var(--cool-gray);

                    &:hover{color: var(--marine-blue);}
                }
                &.next-btn,&.confirm-btn{
                    color: var(--white);
                    &:hover{opacity: .8;}
                }
                &.next-btn{background-color: var(--marine-blue);}
                &.confirm-btn{background-color: var(--purplish-blue);}
            }
        }
    }
}

.attribution {font-size: 11px; text-align: center;display: none;}
.attribution a {color: var(--attribution-blue);}

@media (min-width: f.calcEm(992)){
    body{
        height: 100vh;
        display: grid;
        place-items: center;
    }
    #container{
        display: flex;
        padding: f.calcEm(10);
        border-radius: $radius;
        background-color: var(--white);
    }
    aside{
        background: url(../assets/images/bg-sidebar-desktop.svg) center / cover no-repeat;
        height: f.calcEm(568);
        border-radius: $radius;

        ul{
            display: grid;
            justify-content: flex-start;
        }
        
        .step-info{
            display: block;
            p:nth-child(1){
                color: var(--light-gray);
            }
            p:nth-child(2){
                color: var(--magnolia);
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    form{
        height: f.calcEm(568);
    
        .step{
            display: grid;
            position: initial;
            height: 100%;
            border-radius: $radius;

            .step-contents{
                position: initial;
                width: 100%;

                .plans{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    .plan{
                        label{
                            display: grid;
                            gap: f.calcRem(15);
                            margin: 0 f.calcRem(8);
                        }
                    }
                }
            }

            .button-div{
                position: initial;
                align-self: flex-end;
                background-color: transparent;
            }
        }
    }
}